# Git
.git
.gitignore

# Python cache
__pycache__
*.py[cod]
*$py.class
*.egg-info

# Docs and examples (not needed in Docker)
docs
examples
.gitignore

# IDE
.idea
.vscode
*.swp

# Logs
*.log

# Test files
tests

# CI/CD
.github

# Outdir
/run